MONGO_URI=mongodb://admin:[YOUR_MONGO_DB_PASSWORD______<DOES>_MATCH_THE_ONE_INSIDE_MONGO-DB]@localhost:27017/explorer_db?authSource=admin
MONGO_DB_NAME=explorer_db

PORT=8010
API_VERSION=/api/v1

MIN_PASSWORD_LENGTH=8
HASHING_SALT_ROUNDS=12
JWT_SECRET=YOUR_128_BIT_SECRET

EMAIL_USER=YOUR_GMAIL_ADDRESS
EMAIL_PASS=YOUR_GMAIL_APP_PASSWORD